:root {
  --main-color:#037FC9;
}

.container {
  margin: 0 10% !important;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.navbar a {
  font-weight: 500;
}

.navbar-items-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-items-left a {
  padding: 4px 6px;
  border-radius: 8px;
}

.navbar-items-left a:hover {
  background-color: var(--main-color);
  color: #fff;
  transition: all ease .2s;
}

.navbar-items-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.walletLink {
  border: 1px solid black;
  border-radius: 16px;
  font-size: 12px;
  padding: 2px 4px;
}

.banner {
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
  align-items: center;
  background-color: #f7f7f7;
  gap: 40px;
}

.bannerTitle {
  font-size: 54px;
  width: 70%;
}

.bannerText {
  color: #B1B5C3;
  width: 70%;
}

.bannerBtn {
  color: #fff;
  padding: 13px 30px;
  background-color: var(--main-color);
  font-size: 20px;
  border-radius: 90px;
}

.bannerBtnArea {
  margin-top: 40px;
}

.exchangeRatesSection {
  margin-top: 10% !important;
}

.exchangeRatesTable {
  border-collapse: collapse;
  width: 70%;
  margin: 0 auto;
  -webkit-box-shadow: 6px 10px 47px -20px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 10px 47px -20px rgba(0,0,0,0.75);
  box-shadow: 6px 10px 47px -20px rgba(0,0,0,0.75);

}

.exchangeRatesTable td, .exchangeRatesTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.exchangeRatesTable tr:nth-child(2n) {
  background-color: #eee;
}


.exchangeRatesTable th {
  padding: 12px 8px;
  background-color: var(--main-color);
  color: #fff;
}

.exchangeRatesTable tr {
  font-weight: 500;
}

.exchangeRatesTable th {
  text-align: center;
}

.exchangeRatesSectionHeader {
  text-align: center;
  margin: 20px 0;
}

.lastUpdateInfo {
  text-align: center;
  margin: 20px 0;
}

.selectExchange {
  width: 80px;
  padding: 4px;
  border: 1px solid var(--main-color);
  border-radius: 20px;
}

.selectExchange:focus {
  outline: none;
}



