:root {
  --main-color:#037FC9;
}

.container {
  margin: 0 10% !important;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.navbar a {
  font-weight: 500;
}

.navbar-items-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-items-left a {
  padding: 4px 6px;
  border-radius: 8px;
}

.navbar-items-left a:hover {
  background-color: var(--main-color);
  color: #fff;
  transition: all ease .2s;
}

.navbar-items-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.walletLink {
  border: 1px solid black;
  border-radius: 16px;
  font-size: 12px;
  padding: 2px 4px;
}

.banner {
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
  align-items: center;
  background-color: #f7f7f7;
  gap: 40px;
}

.bannerTitle {
  font-size: 54px;
  width: 70%;
}

.bannerText {
  color: #B1B5C3;
  width: 70%;
}

.bannerBtn {
  color: #fff;
  padding: 13px 30px;
  background-color: var(--main-color);
  font-size: 20px;
  border-radius: 90px;
}

.bannerBtnArea {
  margin-top: 40px;
}



